* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}

body {
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

main{
    position: relative;
}

body h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

body#wrapper {
    display: flex;
    flex-wrap: wrap;
}


#map {
    height: calc(100vh - 150px);
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border-color: aliceblue;
}


body section#ListReports {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 100px;
}

body section#ListReports section.report {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #E9ECEF;
    border-radius: 5px;
    width: calc(100% - 10px);
    height: 200px;
    background: white;
}

body section#ListReports section.report div.userName {
    background-image: url('http://localhost:8080/imges/userIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 20px;
    padding-left: 25px;
    margin-top: 25px;
    margin-left: 25px;
}

.delete {
    width: 50px;
    height: 20px;
    margin-top: 5px;
    background-color: rgb(223, 83, 83);
    border-radius: 5px;
    cursor: pointer;
    border-width: 0px;
}

body section#ListReports section.report div.userName div.Ycategory {
    background-image: url('http://localhost:8080/imges/yellowFlag.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 25px;
}

body section#ListReports section.report div.userName div.Rcategory {
    background-image: url('http://localhost:8080/imges/redFlag.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 25px;
}

body section#ListReports section.report div.location {
    margin-top: 25px;
    width: 200px;
}

body section#ListReports section.report {
    justify-content: space-between;
}

body section#ListReports section.report a.arrow img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 25px;
}

body section#ListReports section.report div.lastUpdate {
    margin-top: 25px;
    margin-right: 25px;

}

body section#ListReports section.report a img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 25px;
    margin-right: 25px;
}

body section#ListReports section.report section.user {
    display: inline-flex;
    flex-wrap: wrap;

}

body section#ListReports section.report section.user a {
    width: 50px;

}

.roundImg {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


/* קשור למפה לחלונות מידע אחרי שלוחצים על האייקון */
.gm-style-iw-d {
    width: 125px;
    height: 125px;
    justify-content: center;
    text-align: center;
}

main section#wrapper section#Under_MAP {
    display: inline-block;
    background-color: #adb9c7;
    opacity: 0.8;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);


}

main section#wrapper section#Under_MAP button#SOS {
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 0px;
    background-color: rgb(237, 105, 105);
    float: left;
    margin-top: 15px;
    cursor: pointer;


}

main section#wrapper section#Under_MAP button#button_Auth {
    margin-left: 25px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #E9ECEF;
    opacity: 0.8;
    float: left;
    margin-top: 15px;
    cursor: pointer;
}

main section#wrapper section#Under_MAP div#info_map {
    justify-content: center;
    border-radius: 5px;
    background-color: #adb9c7;
    opacity: 0.8;
    margin-right: 25px;
    float: right;
}

main section#wrapper section#Under_MAP div#info_map p#Disstres {
    background-image: url("http://localhost:8080/imges/mapIconRed.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 25px;
}

main section#wrapper section#Under_MAP div#info_map p#Lost {
    background-image: url("http://localhost:8080/imges/mapIconYellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 25px;
}

.btn.btn-secondary.Bbuttons.delete {
    background-color: rgb(223, 83, 83);
}
body main section#delete{
    display: none;
}





@media (max-width: 768px) {


    body section#ListReports section.report div.userName {
        font-size: 15px;
        width: 170px;
        height: 20px;
    }

    body section#ListReports section.report div.lastUpdate {
        font-size: 15px;
    }

    body section#ListReports section.report div.location {
        font-size: 15px;
        width: 110px;
    }
    


}

@media (max-width: 620px) {

    body main section#ListReports section.report{
        font-size: 12px;
    }
    body section#ListReports section.report section.user{
        width: 235px;
    }
    body section#ListReports section.report section.user div.userName{
        margin-left: 35px;
    }
    body section#ListReports section.report section.user a.userImage{
        width: 20px;
    }
    body section#ListReports section.report section.user a.userImage img{
        width: 50px;
        height: 50px;
    }
    body section#ListReports section.report section.user div.userName h3{
        font-size: 15px;
    }
    body section#ListReports section.report section.user div.userName p{
        font-size: 13px;
    }

    body section#ListReports section.report div.location {
        display: none;
    }

    body section#ListReports section.report a.arrow img {

        width: 25px;
        height: 40px;
        object-fit: cover
    }

    body section#ListReports section.report section.user a img {
        width: 60px;
        height: 60px;
    }

    main section#wrapper section#Under_MAP button#SOS {
        width: 50px;
        height: 50px;
    }

    main section#wrapper section#Under_MAP button#button_Auth {
        width: 70px;
        height: 50px;
    }
    body section#ListReports section.report div.lastUpdate {
        display: none;
    }
    body section#ListReports section.report{
        height: 150px;
    }
}

@media (max-width: 420px) {
    body section#ListReports section.report div.location {
        display: none;
    }

    body section#ListReports section.report section.user {
        margin-left: 0px;
    }

    body section#ListReports section.report div.lastUpdate {
        display: none;
    }
    main section#wrapper section#Under_MAP button#SOS {
        width: 40px;
        height: 40px;
    }

    main section#wrapper section#Under_MAP button#button_Auth {
        font-size: 14px;
        width: 70px;
        height: 40px;
        margin-left: 10px;
    }
    main section#wrapper section#Under_MAP div#info_map {
        margin-right: 10px;
    }
    main section#wrapper section#Under_MAP div#info_map p{
        font-size: 15px;
    }
    body section#ListReports section.report a.arrow{
        width: 5px;
        margin-right: 5px;
    }
}

/* object page*/

body main section#Edit{
    display: none;
}
body main section#topWrapper{
    position: relative;
    margin: 20px;
    width: calc(100% - 40px);
    height: 900px;
    background-color: #E8EBED;
    border-radius: 5px;
    opacity: 0.8;
}
h3{
    font-weight: bold;
}
h1{
    font-weight: bold;
}

p{
    font-size: 20px;

}
body main section#topWrapper div#PetName{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

body main section#topWrapper div#LastSeen{
    display: inline-block;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    margin-left: 80px;
}

body main section#topWrapper div#PetBhavior{
    display: flex;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
}

body main section#topWrapper div#PetBhavior button#MoreBhavior{
    display: inline-block;
    width: 100px;
    height: 60px;
    text-align: center;
    margin-left: 30px;
    background-color: #F8F9FA;
    color: black;
}

body main section#topWrapper div#PetBhaviorsIMG{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
}
body main section#topWrapper div#PetBhaviorsIMG img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 25px;
}

body main section#topWrapper div#buttonsMore{
    display: inline-block;
    height: 100px;
    margin-top: 50px;
    margin-left: 20px;
}

body main section#topWrapper div#buttonsMore button{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #F8F9FA;
    color: black;
}


body main section#topWrapper section#ImgCarusell {
    display: grid;
    place-items: center;
}

body main section#topWrapper section#ImgCarusell div#carouselExample{
    width: 400px;
}
.carousel-control-next{
    background-color: black;
    opacity: 1;
    width: 50px;
    height: 50px;
    top: 40%;
}
.carousel-control-prev{
    background-color: black;
    opacity: 1;
    width: 50px;
    height: 50px;
    top: 40%;
}
.carousel-inner{
    border-radius: 10px;
}

#map-object{
    height: calc(70vh - 150px);
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border-color: aliceblue;
}
body main section#Buttons{
    display: inline-block;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    
}

body main div#ScanAttempt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


body main div#ButtomButtons{
    display: flex;
    flex: wrap;
    justify-content: center;
}
body main button.Bbuttons{
    margin-top: 10px;
    width:200px;
    height: 70px;
    margin-left: 20px;
    background-color: #EAECEF;
    border-width: 0px;
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

body main button.Bbuttons img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
@media (max-width: 700px){
    body main section#topWrapper section#ImgCarusell div#carouselExample{
        width: 300px;
    }
    body main section#topWrapper div#PetName{
        width: 100px;
        height: 50px;
    }
    body main section#topWrapper div#PetName h3{
        font-size: 20px;
    }
    body main section#topWrapper div#PetName p{
        font-size: 16px;
    }
    body main section#topWrapper div#LastSeen{
        width: 300px;
        height: 50px;
        margin-left: 15px;
    }
    body main section#topWrapper div#LastSeen h3{
        font-size: 20px;
    }
    body main section#topWrapper div#LastSeen p{
        font-size: 16px;
    }
    body main section#topWrapper div#PetBhaviorsIMG img{
        width: 80px;
        height: 80px;
        margin-left: 0px;
    }
    body main section#topWrapper{
        height: 800px;
    }

}

@media (max-width: 420px){
    body main section#topWrapper{
        height: 700px;
    }
    body main section#topWrapper div#PetBhavior h3{
        font-size: 20px;
    }
    body main section#topWrapper div#PetBhavior button{
        margin-left: 30px;
    }
    body main section#topWrapper section#ImgCarusell div#carouselExample{
        width: 180px;
    }

    .carousel-control-next{
        width: 30px;
        height: 30px;
    }
    .carousel-control-prev{
        width: 30px;
        height: 30px;
    }

}

/* yotam side */

/* Ensure the user image is on the right side */
header {
    border-bottom: 1px solid #dee2e6;
}

.logo {
    font-size: 1.1rem; 
    font-weight: bold;
}

.logo-img {
    width: 5rem; 
    height: 5rem; 
    margin-right: 0.625rem; 
}

.user-img {
    width: 4rem; /* Increase the size of the user photo */
    height:4em; /* Increase the size of the user photo */
    object-fit: cover; /* Ensure the image covers the entire area */

}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
}

#lost-report-form {
    margin-top: 0.3rem; 
    background-color: #E8EBED;
    padding: 1.25rem; 
    border-radius: 10px;
}

footer .btn {
    width: 3.75rem; 
    height: 3.75rem; 
}

.icon {
    display: block;
    margin: 0 auto;
    width: 1.5rem; 
    height: 1.5rem; 
}

footer.custom-footer-bg {
    background-color: #DFE2E5;
}

footer .btn:hover {
    background-color: #d3d4d5; 
}

.container {
    overflow: hidden; /* Ensures elements stay within the container */
    padding: 1rem; /* Adds inner gap to avoid slicing */
}



/* New CSS for responsive text */
.text-start {
    font-size: clamp(1.25rem, 1rem + 1vw, 1.375rem); /* Responsive font size */
    font-weight: bold; /* Makes the font bold */
    font-family: 'Inter', sans-serif; /* Set the font family to Inter */
    font-style: normal;
    line-height: normal;
}

.form-label {
    color: #000; /* Set text color to black */
    font-family: 'Inter', sans-serif; 
    font-size: clamp(0.75rem, 1vw + 0.5rem, 1.25rem); /* Responsive font size */
    font-style: normal; /* Ensures the font style is normal */
    font-weight: 700; /* Makes the font bold */
    line-height: normal; /* Sets a normal line height */
}

.custom-file {
    position: relative;
}

.custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to overflowing text */
    max-width: 100%;
}

.custom-file-label img {
    width: 2rem; 
    height: 2rem; 
    margin-right: 0.5rem;
}

.behavior-label {
    font-family: 'Inter', sans-serif; /* Inter */
    font-weight: bold; /* Bold */
    font-size: 12px; /* 12px */
    margin-top: 0.25rem; /* Margin above the labels */
}

form label.d-block {
    font-family: 'Inter', sans-serif; /* Inter */
    font-weight: bold; /* Bold */
    font-size: 12px; /* 12px */
}

.confirmation-container {
    width: 144px; /* Width of the box */
    height: 32px; /* Height of the box */
    background-color: #E8EBED; /* Background color of the box */
    border-radius: 10px; /* Rounded corners */
    display: flex; /* Flex display */
    justify-content: center; /* Horizontal center alignment */
    align-items: center; /* Vertical center alignment */
    margin: 0.5rem; /* Margin around the element */
    margin-bottom: 1.2rem;
    position: relative; /* Relative positioning */
}

.confirmation-icon {
    width: 80%; /* Width of the icon */
    height: 80%; /* Height of the icon */
}

.nav-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
}

.nav {
    margin: -0.5rem;
}

/* HOVER AND SELECTED EFFECTS TO THE DESKTOP NAVBAR */
.nav-link {
    color: #000; /* Default color */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.nav-link-wrapper {
    display: flex;
    align-items: center;
    transition: color 1.9 ease, background-color 1.9s ease; /* Smooth transition */
    border-radius: 5px; /* Optional: add some rounding to the background */
    padding: 0.4rem 0; /* Padding only on the Y-axis (top and bottom) */

}

.nav-link-wrapper:hover, .nav-link-wrapper:focus, .nav-link-wrapper:active {
    color: #fff; /* Hover/Active/Focus text color */
    background-color: #007bff; /* Hover/Active/Focus background color */
    text-decoration: none; /* Remove underline from links */
}

.nav-link-wrapper:focus-within {
    color: #fff; /* Focus within text color */
    background-color: #007bff; /* Focus within background color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Optional: add some rounding to the background */
}
/*---------------------------------------------------------------------------- */


/*MEDIA QUERRY TO MAKE THE DEKTOP NAVBAR RESPONSIVE */
@media (min-width: 992px) { /* Apply only for desktop dimensions */
    .d-flex.justify-content-between.align-items-center.py-3.w-100 > :last-child {
        margin-left: 2.5rem; /* Adjust the value as needed */
    }
}


/* CSS for the side bar navbar. */
@media (max-width: 991px) { /* Apply only for mobile */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-img {
        margin-right: 0;
    }
    .offcanvas-body ul li {
        padding: 0.75rem 1rem; /* Adjust padding for better touch targets */
        border-bottom: 1px solid #dee2e6;
    }

    .offcanvas-body ul li:first-child {
        margin-top: 1rem; /* Adjust margin for better spacing */
    }

    .offcanvas-body ul li a {
        color: #000;
        text-decoration: none;
        font-size: 1.25rem; /* Adjust font size for readability */
        display: flex;
        align-items: center;
    }
}
/* ----------------------------------------------------------- */

/* reportType.html css */
.report-type-card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.report-type-card:hover {
    transform: scale(1.05);
}

.report-type-card img {
    width: 50px;
    height: 50px;
}

.report-type-card h2 {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#submitButton{
    margin-bottom: 70px;
}





/* Yotam-Object.html css */

/* .carousel-inner .carousel-item img {
    max-height: 150px;
    object-fit: contain;
}

.carousel-inner .carousel-item.active img {
    transform: scale(1.2);
}

.carousel-image {
    max-height: 100px;
    object-fit: contain;
    cursor: pointer;
}

.carousel-image:hover {
    transform: scale(1.2);
}

.button-container {
    margin-top: 20px;
}

.button-container .btn {
    background-color: #F8F9FA;
    border: none;
    color: #000;
    width: 30%;
    text-wrap:nowrap;
}

.scan-attempt-btn {
    background-color: #E8EBED;
    border: none;
    color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    background-size: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.black-carousel-control .carousel-control-prev-icon,
.black-carousel-control .carousel-control-next-icon {
    background-color: black;
}

.icon {
    width: 1.5rem; 
    height: 1.5rem; 
}

.message-btn, .share-btn {
    width: 3rem; 
    height: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    background-color:#E8EBED ; 
    padding: 0; 
}

.message-btn img, .share-btn img {
    width: 70%; 
    height: auto; 
}

.container {
    max-width: 31.25rem; 
    margin: auto;
}

.message-btn:hover, .share-btn:hover {
    background-color: #007bff; 
}


.card-body {
    background-color: #E8EBED;
    border-radius: 10px;
    overflow-x: hidden; 
}

.button-container {
    margin-top: 20px;
    width: 100%; 
}

.button-container .btn {
    width: 100%; 
}

.behavior-icon {
    flex-shrink: 0; 
}

.d-flex .flex-wrap {
    flex-wrap: wrap; 
}

@media (max-width: 768px) {
    .behavior-icon {
        width: 30px; 
        height: 30px; 
    }
    .button-container {
        margin-top: 10px;
    }
    .button-container .btn {
        width: 100%;
        margin-bottom: 5px;
    }
}

.dryDetails .d-flex {
    flex-wrap: wrap;
}

.button-container {
    width: auto;
}

.behavior-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.behavior-icons img {
    max-width: 30px;
    height: auto;
}

@media (max-width: 768px) {
    .behavior-icons img {
        max-width: 20px;
    }
}

@media (max-width: 576px) {
    .behavior-icons img {
        max-width: 15px;
    }
}

 */